<section class="flex h-full flex-col gap-4 p-2">
	<h1>Taskovi:</h1>
	@if(loading()){
	<app-loader class="flex h-full items-center justify-center" title="Ucitavanje taskova"></app-loader>
	} @else{ @if ( taskovi().length === 0) {
	<p>Trenutno nemate ni jedan task!</p>
	} @else {
	<div class="flex flex-wrap gap-4">
		@for (task of taskovi(); track task.id) {
		<div class="flex w-100 max-w-[300px] flex-col gap-2 rounded-md border-0 bg-gray-700 p-4 text-white">
			<h3>Naziv: {{ task.name }}</h3>
			<span>Prioritet: {{ task.prioritet }}</span>
			<p>Opis: {{ task.opis }}</p>

			<div class="mt-auto flex justify-end gap-2">
				<app-button title="Azuriraj" (clicked)="onClick(ModalType.update)"></app-button>
				<app-button title="Obrisi" (clicked)="onClick(ModalType.delete)" customClass="bg-red-700"></app-button>
			</div>
		</div>
		}
	</div>
	}
	<app-button title="Napravi novi task" (clicked)="onClick(ModalType.create)"></app-button>
	}
</section>

<app-modal (close)="closeModal()" [open]="modalIsOpen()" [title]="modalTitle()">
	<app-loader title=""></app-loader>
</app-modal>
